In [4]:
from langchain.chat_models import init_chat_model
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_community.utilities import SQLDatabase
from langgraph.prebuilt import create_react_agent
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [ ]:
from langchain_google_genai import ChatGoogleGenerativeAI
llm = ChatGoogleGenerativeAI( model="gemini-2.5-flash", temperature=0,  max_tokens=None, timeout=None, max_retries=2)

In [ ]:
llm.invoke("hello, how are you?").content

"Hello! I'm an AI, so I don't have feelings in the way humans do, but I'm functioning perfectly and ready to help you.\n\nHow can I assist you today?"

In [7]:
connect_string = "mysql+pymysql://root:Shekarnaik_8987@localhost/Enphase"
db = SQLDatabase.from_uri(connect_string, sample_rows_in_table_info=3)

In [8]:
# Show the available tables
print("Available tables:", db.get_usable_table_names())

Available tables: ['power_data']

In [9]:
# Get available database tools
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()
tools

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001A917CC1640>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001A917CC1640>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001A917CC1640>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001A917CC1640>, llm=ChatGoogleGenerativeAI(model='models/gemini-2.5-flash', google_api_key=SecretStr('**********'), temperature=0.0, max_retries=2, client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x000001A915AB2780>, default_metadata=(), model_kwargs={}), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGoogleGenerativeAI(model='models/gemini-2.5-flash', google_api_key=SecretStr('**********'), temperature=0.0, max_retries=2, client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x000001A915AB2780>, default_metadata=(), model_kwargs={}), output_parser=StrOutputParser(), llm_kwargs={}))]

In [ ]:
system_message_template = """
You are an agent that answers questions by querying a SQL database.

Steps you must follow: 
1. First, check the available tables.
2. Then, look at the schema of the most relevant tables.
3. Write a correct {dialect} query. Limit results to {top_k} unless the user asks for more.
4. Only select columns needed for the question (never SELECT *).
5. Order results by the most relevant column if useful.
6. If a query fails, fix it and try again.
7. Never run INSERT, UPDATE, DELETE, DROP, or any other DML statements.

Your goal: return clear, accurate answers from the database.
"""

system_message = system_message_template.format(
    dialect="MySQL",
    top_k=5,
)

agent_executor = create_react_agent(llm, tools, prompt=system_message)

In [11]:
question = "How many serial numbers are there in the database?"

for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

How many serial numbers are there in the database?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (03c34225-65b8-484d-a061-2617e4f26988)
 Call ID: 03c34225-65b8-484d-a061-2617e4f26988
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

power_data
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (736793b0-9ee6-4765-bbef-7b1bd2382408)
 Call ID: 736793b0-9ee6-4765-bbef-7b1bd2382408
  Args:
    table_names: power_data
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE power_data (
	date TEXT,
	timestamp TEXT,
	site_id BIGINT,
	serial_num BIGINT,
	duration BIGINT,
	ac_voltage DOUBLE,
	ac_current DOUBLE,
	ac_frequency DOUBLE,
	dc_voltage DOUBLE,
	dc_current DOUBLE,
	temperature DOUBLE,
	error_seconds DOUBLE,
	error_cycles DOUBLE,
	energy_produced DOUBLE,
	energy_charged DOUBLE,
	va_rs_lead DOUBLE,
	va_rs_lag DOUBLE,
	rssi DOUBLE,
	issi DOUBLE,
	acw DOUBLE,
	dcw DOUBLE,
	timstamp TIMESTAMP NULL
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from power_data table:
date	timestamp	site_id	serial_num	duration	ac_voltage	ac_current	ac_frequency	dc_voltage	dc_current	temperature	error_seconds	error_cycles	energy_produced	energy_charged	va_rs_lead	va_rs_lag	rssi	issi	acw	dcw	timstamp
2022-12-26	2022-12-26T15:12:26Z	3799136	202226090917	66	251.7000000000	0E-10	59.8900000000	38.6500000000	4.2800000000	36.0000000000	0E-10	0E-10	3.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	165.4200000000	2022-12-26 15:12:26
2022-12-26	2022-12-26T15:12:44Z	3799136	202226090917	18	244.1000000000	0E-10	60.0500000000	46.2100000000	0.0200000000	36.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0.9200000000	2022-12-26 15:12:44
2022-12-26	2022-12-26T15:12:59Z	3799136	202226090917	15	243.8000000000	0E-10	59.8600000000	46.2900000000	0E-10	36.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	2022-12-26 15:12:59
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (11c514a2-b619-4aed-a05d-961f8907b1b4)
 Call ID: 11c514a2-b619-4aed-a05d-961f8907b1b4
  Args:
    query: SELECT COUNT(DISTINCT serial_num) FROM power_data
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT COUNT(DISTINCT serial_num) FROM power_data
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (102cf654-92fb-47f3-a672-69a4ef9a67ff)
 Call ID: 102cf654-92fb-47f3-a672-69a4ef9a67ff
  Args:
    query: SELECT COUNT(DISTINCT serial_num) FROM power_data
================================= Tool Message =================================
Name: sql_db_query

[(9,)]
================================== Ai Message ==================================

There are 9 distinct serial numbers in the database.

In [12]:
question = "what is min, max, and avg of ac voltage and energy monthwise?"

for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

what is min, max, and avg of ac voltage and energy monthwise?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (c4c740cc-f540-4869-a742-3428ffd0b3b7)
 Call ID: c4c740cc-f540-4869-a742-3428ffd0b3b7
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

power_data
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (85f8eb74-ca10-419c-a763-bf4e50010296)
 Call ID: 85f8eb74-ca10-419c-a763-bf4e50010296
  Args:
    table_names: power_data
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE power_data (
	date TEXT,
	timestamp TEXT,
	site_id BIGINT,
	serial_num BIGINT,
	duration BIGINT,
	ac_voltage DOUBLE,
	ac_current DOUBLE,
	ac_frequency DOUBLE,
	dc_voltage DOUBLE,
	dc_current DOUBLE,
	temperature DOUBLE,
	error_seconds DOUBLE,
	error_cycles DOUBLE,
	energy_produced DOUBLE,
	energy_charged DOUBLE,
	va_rs_lead DOUBLE,
	va_rs_lag DOUBLE,
	rssi DOUBLE,
	issi DOUBLE,
	acw DOUBLE,
	dcw DOUBLE,
	timstamp TIMESTAMP NULL
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from power_data table:
date	timestamp	site_id	serial_num	duration	ac_voltage	ac_current	ac_frequency	dc_voltage	dc_current	temperature	error_seconds	error_cycles	energy_produced	energy_charged	va_rs_lead	va_rs_lag	rssi	issi	acw	dcw	timstamp
2022-12-26	2022-12-26T15:12:26Z	3799136	202226090917	66	251.7000000000	0E-10	59.8900000000	38.6500000000	4.2800000000	36.0000000000	0E-10	0E-10	3.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	165.4200000000	2022-12-26 15:12:26
2022-12-26	2022-12-26T15:12:44Z	3799136	202226090917	18	244.1000000000	0E-10	60.0500000000	46.2100000000	0.0200000000	36.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0.9200000000	2022-12-26 15:12:44
2022-12-26	2022-12-26T15:12:59Z	3799136	202226090917	15	243.8000000000	0E-10	59.8600000000	46.2900000000	0E-10	36.0000000000	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	0E-10	2022-12-26 15:12:59
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (4d69ec54-3784-48e1-b457-67c94412fcce)
 Call ID: 4d69ec54-3784-48e1-b457-67c94412fcce
  Args:
    query: SELECT strftime('%Y-%m', date) AS month, MIN(ac_voltage) AS min_ac_voltage, MAX(ac_voltage) AS max_ac_voltage, AVG(ac_voltage) AS avg_ac_voltage, MIN(energy_produced) AS min_energy_produced, MAX(energy_produced) AS max_energy_produced, AVG(energy_produced) AS avg_energy_produced FROM power_data GROUP BY month ORDER BY month;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT DATE_FORMAT(date, '%Y-%m') AS month, MIN(ac_voltage) AS min_ac_voltage, MAX(ac_voltage) AS max_ac_voltage, AVG(ac_voltage) AS avg_ac_voltage, MIN(energy_produced) AS min_energy_produced, MAX(energy_produced) AS max_energy_produced, AVG(energy_produced) AS avg_energy_produced FROM power_data GROUP BY month ORDER BY month;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (81181a8a-e412-4ae3-b496-07cbcd17a3cb)
 Call ID: 81181a8a-e412-4ae3-b496-07cbcd17a3cb
  Args:
    query: SELECT DATE_FORMAT(date, '%Y-%m') AS month, MIN(ac_voltage) AS min_ac_voltage, MAX(ac_voltage) AS max_ac_voltage, AVG(ac_voltage) AS avg_ac_voltage, MIN(energy_produced) AS min_energy_produced, MAX(energy_produced) AS max_energy_produced, AVG(energy_produced) AS avg_energy_produced FROM power_data GROUP BY month ORDER BY month;
================================= Tool Message =================================
Name: sql_db_query

[('2022-12', 242.6, 258.5, 251.66553856166655, 0.0, 83.0, 21.501789781972015), ('2023-01', 242.3, 262.0, 253.65805789833425, 0.0, 99.0, 38.643872046197096), ('2023-02', 239.1, 262.0, 253.97780821917613, 0.0, 99.0, 44.04871575342466), ('2023-03', 0.6, 261.9, 149.78233519036866, 0.0, 103.0, 29.662349117920147), ('2023-04', 0.6, 261.5, 112.22292551425141, 0.0, 99.0, 19.553823996454817), ('2023-05', 0.59, 260.81, 112.56860271331838, 0.0, 100.0, 19.04393636801873), ('2023-06', 0.56, 260.81, 111.21771225676709, 0.0, 99.0, 18.709820029936992), ('2023-07', 0.59, 259.25, 111.90183618789752, 0.0, 99.0, 18.66542309648974), ('2023-08', 0.56, 260.69, 118.47187020285493, 0.0, 100.0, 14.920093201754385), ('2023-09', 0.56, 265.66, 153.2514855345801, 0.0, 98.0, 6.758207480959684), ('2023-10', 0.56, 261.91, 113.63120880701942, 0.0, 98.0, 19.69679090516621)]
================================== Ai Message ==================================

The minimum, maximum, and average AC voltage and energy produced month-wise are as follows:

| Month   | Min AC Voltage | Max AC Voltage | Avg AC Voltage | Min Energy Produced | Max Energy Produced | Avg Energy Produced |
|---------|----------------|----------------|----------------|---------------------|---------------------|---------------------|
| 2022-12 | 242.6          | 258.5          | 251.67         | 0.0                 | 83.0                | 21.50               |
| 2023-01 | 242.3          | 262.0          | 253.66         | 0.0                 | 99.0                | 38.64               |
| 2023-02 | 239.1          | 262.0          | 253.98         | 0.0                 | 99.0                | 44.05               |
| 2023-03 | 0.6            | 261.9          | 149.78         | 0.0                 | 103.0               | 29.66               |
| 2023-04 | 0.6            | 261.5          | 112.22         | 0.0                 | 99.0                | 19.55               |
| 2023-05 | 0.59           | 260.81         | 112.57         | 0.0                 | 100.0               | 19.04               |
| 2023-06 | 0.56           | 260.81         | 111.22         | 0.0                 | 99.0                | 18.71               |
| 2023-07 | 0.59           | 259.25         | 111.90         | 0.0                 | 99.0                | 18.67               |
| 2023-08 | 0.56           | 260.69         | 118.47         | 0.0                 | 100.0               | 14.92               |
| 2023-09 | 0.56           | 265.66         | 153.25         | 0.0                 | 98.0                | 6.76                |
| 2023-10 | 0.56           | 261.91         | 113.63         | 0.0                 | 98.0                | 19.70               |

In [13]:
question = "what is the capital of india?"

for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

what is the capital of india?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (3dd7ecbb-f455-436a-a514-c2c6ca40c172)
 Call ID: 3dd7ecbb-f455-436a-a514-c2c6ca40c172
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

power_data
================================== Ai Message ==================================

I cannot answer this question with the available data. The database contains power data, not geographical information.

In [14]:
question = "Hello"

for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Hello
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (cc127805-a515-40d2-9f12-225550038e4d)
 Call ID: cc127805-a515-40d2-9f12-225550038e4d
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

power_data
================================== Ai Message ==================================

Hello! I see that the database contains a table named `power_data`. How can I help you with this data today?